---

  - include_tasks: delegate.yml
  - include_tasks: inventory.yml

#  - name:
#    command: "echo {{ item.name }}"
#    register: res
#    loop: "{{ isbc_centralized_nodes }}"
#    loop_control:
#       label: "{{ item.name }}"
#
#    no_log: True


  - name: Running the call(uas)
    ignore_errors: True
    shell: " {{ uas_script }} -bg "
    register: uas
  
    failed_when: uas.rc not in (0,99)
  - debug: 
      var: uas.stdout_lines

  - name: UAS failed
    fail:
      msg: UAS didnot run
    when: uas.rc not in (0,99) 
  
  - name: Running the call(uac)
    ignore_errors: True
    shell: " {{ uac_script }} -bg "
    register: uac
    
    failed_when: uac.rc not in (0,99) 
  - debug: 
     var: uac.stdout_lines

  - name: UAC failed
    fail:
      msg: UAC didnot run 
    when: uac.rc not in (0,99)
  
  - name: wait for call to get completed
    wait_for:
      timeout: 60

#  - name: checking call count status
#    shell: curl -kisu 'admin:admin' -X GET https://{{item.mgt0ipaddress}}/api/operational/global/callCountStatus | grep -wE '(activeCalls|stableCalls)'
#    loop: "{{ isbc_centralized_nodes }}"
#    when: item.role == 'ACTIVE'
#    register: b
#  - debug:
#      msg: "{{ item }}"
#    loop: "{{ b.results }}"


  - name: Call count Status
    ignore_errors: True
    shell: |
       set timeout 15
       spawn bash


       send "/opt/sonus/sbx/tailf/bin/confd_cli -uadmin\n"

       expect ">"
       send "show status global callCountStatus\n"

       expect ">"
       send "\n"

       exit 0
    args:
        executable: /usr/bin/expect
    delegate_to: "{{ res.results[0].stdout }}"
    register: call_count
  - debug:
        var: call_count.stdout_lines


   
  - name: Call failed
    fail:
     msg: Stable calls 0
    when: call_count.rc != 0

     

  
  


