#  - name:
#    command: "echo {{ item.name }}"
#    register: res
#    loop: "{{ isbc_centralized_nodes }}"
#    loop_control:
#       label: "{{ item.name }}"
#  - debug:
#      var: res
#    no_log: True
  - include_tasks: inventory.yml
  - include_tasks: delegate.yml

  - name: Oam rollover on assigned role Standby
    ignore_errors: yes
    shell: |
       set timeout 15
       spawn bash


       send "/opt/sonus/sbx/tailf/bin/confd_cli -uadmin\n"

       expect ">"
       send "request oam eventLog typeAdmin system rolloverLogNow\n"

       expect ">"
       send "\n"

       exit 0
    args:
        executable: /usr/bin/expect
    delegate_to: "{{ res.results[1].stdout }}"
    register: oam
  - debug:
        var: oam.stdout_lines


  - name: Switchback by Killing CHM process on current Active Instance installed role as Standby
    ignore_errors: False
    shell:
       "ps -few | grep -i chm |grep -i sonusad | grep -v grep | awk '{print $2}'|xargs kill"
    delegate_to: "{{ res.results[1].stdout }}"



