---
  - include_tasks: inventory.yml

  - include_tasks: delegate.yml
#  - name: 
#    command: "echo {{ item.mgt0ipaddress }}"
#    register: result
#    loop: "{{ isbc_centralized_nodes }}"
#    loop_control:
#       label: "{{ item.mgt0ipaddress }}"
#  - debug:
#      var: result
#
#  - name:
#    command: "echo {{ item.name }}"
#    register: res
#    loop: "{{ isbc_centralized_nodes }}"
#    loop_control:
#       label: "{{ item.name }}"


#  - name: To check box switchover time 
#    shell: "{{ SwitchoverTime_Path }} {{ result.results[0].stdout }} {{ result.results[1].stdout }}"
#    register: b
#  - debug: var=b.stdout_lines


  - name:
    ignore_errors: yes
    shell: "ls -lrt *.SYS | tail -1 | awk -F \" \" {'print $9'} | xargs grep -w '.NRS: Got AMF deactivate command' |awk -F\" \" '{ print $3}' | tr -s \" \" | awk -F: '{print $1}'"
    args:
       chdir: /var/log/sonus/sbx/evlog
    delegate_to: "{{ res.results[0].stdout }}"
    register: p
#    - debug:
#        var: p.stdout

 
  - name: 
    ignore_errors: yes
    shell: "ls -lrt *.SYS | tail -1 | awk -F \" \" {'print $9'} | xargs grep -w '.RTM: Switchover processing complete for all subsystems' |awk -F\" \" '{ print $3}' | tr -s \" \" | awk -F: '{print $1}'"
    args:
       chdir: /var/log/sonus/sbx/evlog
    delegate_to: "{{ res.results[1].stdout }}"
    register: s
 #   - debug:
  #      var: s.stdout

  - debug:
       msg: "Switchover time is: {{s.stdout|float  - p.stdout|float }}"

  - name: check call status after killing process on active box
    ignore_errors: yes
    shell: echo "show status global callCountStatus"| /opt/sonus/sbx/tailf/bin/confd_cli -u admin --noninteractive --noaaa
    delegate_to: "{{ res.results[1].stdout }}"
    register: call_count
  - debug: 
      var: call_count.stdout_lines


