ansible==2.8.5
appdirs==1.4.3
asn1crypto==1.1.0
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
cryptography==2.7
decorator==4.4.0
dogpile.cache==0.8.0
idna==2.8
iso8601==0.1.12
Jinja2==2.10.3
jmespath==0.9.4
jsonpatch==1.24
jsonpointer==2.0
keystoneauth1==3.17.1
MarkupSafe==1.1.1
munch==2.3.2
netifaces==0.10.9
openstacksdk==0.36.0
os-service-types==1.7.0
pbr==5.4.3
pycparser==2.19
PyYAML==5.1.2
requests==2.22.0
requestsexceptions==1.4.0
six==1.12.0
stevedore==1.31.0
urllib3==1.25.6
