---


  - name: Spawning   1:1 OAM instances for SSBC , MSBC and TSBC .
    ignore_errors: true
    register: stack_create
    os_stack:
       name: "{{ item.name }}"
       tag: "{{ item.name }}"
       state: "{{ item.present_or_absent }}"
       validate_certs: false
       template: "{{ item.template }}"
       rollback: no
       parameters:
           flavor: "{{ item.flavor }}"
           image: "{{ item.base_build }}"
           security_group: "{{ item.security_group }}"
           mgt0IPAddressActive: "{{ item.mgt0ipaddress_active }}"
           mgt0IPAddressStandby: "{{ item.mgt0ipaddress_standby }}"
    loop: "{{ oam_nodes }}"
    loop_control:
       label: "{{ item.name }}"


  - name: OAM  instance Failed to spawn.Please see msg which stack got failed .
    fail:
      msg: " Stack ({{ item.stack.stack_name }})status: FAILED "
    when: item.stack.status != "COMPLETE"
    loop: "{{ stack_create.results }}"
    loop_control:
        label: "{{ item.item }}"

  - name: Waiting  till the active OAM instances ping
    ignore_errors: yes
    wait_for:
       host: "{{ item.mgt0ipaddress_active }}"
       port: 2024
       delay: 60
       timeout: 300
       state: started
       msg: '"{{ item.mgt0ipaddress_active }}" didnot ping'
    loop: "{{ oam_nodes }}"
    loop_control:
       label: "{{ item.mgt0ipaddress_active }}"


  - name: Waiting till  the standby OAM   instances ping
    ignore_errors: yes
    wait_for:
       host: "{{ item.mgt0ipaddress_standby }}"
       port: 2024
       delay: 60
       timeout: 300
       state: started
       msg: '"{{ item.mgt0ipaddress_standby }}" didnot ping'
    loop: "{{ oam_nodes }}"
    loop_control:
       label: "{{ item.mgt0ipaddress_standby }}"

  - include: inventory_oam.yml
    no_log: True

  - name: Checking the Management  IP of Active OAM  instances  is pinging.
    ignore_errors: yes
    shell: ping -c2 {{ item.mgt0ipaddress_active }}
    register: ping
    retries: 5
    until: ping.stdout.find("0% packet loss") != -1
    loop: "{{ oam_nodes }}"
    loop_control:
       label: "{{ item.mgt0ipaddress_active }}"
  - debug:
      msg: "{{ item.stdout_lines }}"
    loop: "{{ ping.results }}"
    loop_control:
       label: "{{ item.stdout_lines }}"

  - name: Checking the Management  IP of Standby OAM  instances is pinging.
    shell: ping -c2 {{ item.mgt0ipaddress_standby }}
    register: ping
    retries: 5
    until: ping.stdout.find("0% packet loss") != -1
    loop: "{{ oam_nodes }}"
    loop_control:
       label: "{{ item.mgt0ipaddress_standby }}"
  - debug:
      msg: "{{ item.stdout_lines }}"
    loop: "{{ ping.results }}"
    loop_control:
       label: "{{ item.stdout_lines }}"



  - name: Checking if any core file generated on active   OAM instances.
    ignore_errors: yes
    shell:
      "ls -alrt | grep -w core|wc -l"
    args:
     chdir: /var/log/sonus/sbx/coredump/
    delegate_to: "{{ item }}"
    loop: "{{groups['oam_1']}}"
    register: core_a
    failed_when: '"0" not in core_a.stdout'

  - name: Number of core dump files for  active OAM instances .See msg .
    debug:
      msg: "{{ item.item }} has {{ item.stdout }} core files" 
    loop: "{{ core_a.results }}"
    loop_control:
       label: "{{ item.stdout }}"


  - name: Failed as core dump  file exists  in  active OAM instance . See msg for more explanation .
    fail:
      msg: core dump exists in {{ item }}
    when: item.rc != 0
    loop: "{{ core_a.results }}"




  - name: checking if any core file generated on   standby OAM instances .
    shell:
      "ls -alrt | grep -w core|wc -l"
    args:
     chdir: /var/log/sonus/sbx/coredump/
    delegate_to: "{{item}}"
    loop: "{{groups['oam_2']}}"
    register: core_s
    failed_when: '"0" not in core_s.stdout'
  - name: Number of core dump files for   standby OAM instances .See msg . 
    debug:
      msg: "{{ item.item }} has {{ item.stdout }} core files"
    loop: "{{ core_s.results }}"
    loop_control:
       label: "{{ item.stdout_lines }}"

  - name: Failed as core dump  file exists  in standby OAM instance . See msg for more explanation .
    fail:
      msg: core dump exists in {{ item }}
    when: item.rc != 0
    loop: "{{ core_s.results }}"


  - name: Waiting for OAM application to come up for   active instances.
    ignore_errors: yes
    shell:
       "/usr/bin/tail -n 10  /var/log/sonus/lca/lca.log"
    register: service
    until: service.stdout.find("SBC service is now running") != -1
    retries: 60
    delay: 5
    delegate_to: "{{item}}"
    loop: "{{groups['oam_1']}}"


  - name: OAM application didnot come up for   active instances .See msg for the specific instance.
    fail:
      msg: "SBC service is not running for {{ item }}"
    when: "'SBC service is now running' not  in item.stdout"
    loop: "{{ service.results }}"
    loop_control:
       label: "{{ item.stdout_lines }}"



  - name: Waiting for OAM application to come up for   standby instances.
    ignore_errors: yes
    shell:
       "/usr/bin/tail -n 10  /var/log/sonus/lca/lca.log"
    register: service
    until: service.stdout.find("SBC service is now running") != -1
    retries: 60
    delay: 5
    delegate_to: "{{item}}"
    loop: "{{groups['oam_1']}}"

  - name: OAM application didnot come up for  standby instances .See msg for the specific instance.
    fail:
      msg: "SBC service is not running for {{ item }}"
    when: "'SBC service is now running' not  in item.stdout"
    loop: "{{ service.results }}"
    loop_control:
       label: "{{ item.stdout_lines }}"



  - wait_for:
     timeout: 60
    



  
  - name: checking sync status for   OAM instances.See msg.
    shell: curl -kisu 'admin:admin' -X GET https://{{item.mgt0ipaddress_active}}/api/operational/system/syncStatus/ | grep status
    register: sync_status
    retries: 5
    until: sync_status.stdout.find("syncCompleted") != -1
    loop: "{{ oam_nodes }}"
    loop_control:
       label: "{{ item.mgt0ipaddress_active }}" 
  - debug:
      msg: "{{ item.stdout_lines }}"
    loop: "{{ sync_status.results }}"





  - name: Services are not in sync for   OAM instances
    fail:
      msg: services are not in sync for {{ item }}
    when: "'unprotected'   in item.stdout"
    loop: "{{ sync_status.results }}"
    loop_control:
       label: "{{ item.stdout_lines }}"


  - wait_for:
     timeout: 20

  - name: checking installed software version for   OAM instances.
    ignore_errors: yes
    shell:
          "/opt/sonus/sbx/scripts/swinfo.sh"
    delegate_to: "{{ item }}"
    loop: "{{ groups['oam_1'] }}"
    register: version
  - debug:
      msg: "{{ item.stdout_lines }}"
    loop: "{{ version.results }}"

