 # - name: to push license in standby node after upgrade
 #   shell: sh /home/ansible/license_push_cloud.sh null {{mgt0IPAddress_STANDBY}}
 #   delegate_to: localhost
 #   register: command_result
 # - name: License pushed on standby box
 #   shell: curl -kisu 'admin:admin' -X GET https://{{mgt0IPAddress_STANDBY}}/api/operational/system/licenseInfo | grep -wE '(usageLimit|inUse)' | head -2
 #   register: b
 # - debug: var=b.stdout_lines

  - name: Management IP
    command: "echo {{ item.mgt0ipaddress }}"
    register: result
    loop: "{{ isbc_distributed_nodes }}"
    loop_control:
       label: "{{ item.mgt0ipaddress }}"
  - debug:
      var: result
    no_log: True
  - name: pushing license in standby node after upgrade 
    script: "{{ LicenseScript_Path }} null {{ result.results[1].stdout }}"
    register: result
    failed_when:
         - result.rc == 1
         - '"license bundle b1 already exists" not in result.stdout'
  - debug: var=result

  - name: License pushed on boxes
    shell: curl -kisu 'admin:admin' -X GET https://{{item.mgt0ipaddress}}/api/operational/system/licenseInfo | grep -wE '(usageLimit|inUse)' | head -2
    register: b
    loop: "{{ isbc_distributed_nodes }}"
  - debug:
      msg: "{{ item.stdout_lines }}"
    loop: "{{ b.results }}"
    loop_control:
      label: "{{ item.stdout_lines }}"



