#  - name: remove  the invalid key
#    shell: ssh-keygen -R "mgt0IPAddress_STANDBY"
#    register: b
#    failed_when: b.rc not in (0,255)
#  - name: remove  the invalid key
#    shell: ssh-keygen -R "mgt0IPAddress_ACTIVE"
#    register: b
#    failed_when: b.rc not in (0,255)
  - name: Name
    command: "echo {{ item.name }}"
    register: res
    loop: "{{ isbc_distributed_nodes }}"
    loop_control:
       label: "{{ item.name }}"
  - debug:
      var: res
    no_log: True

  - name: Switchback by Killing CHM process on current Active Instance installed role as Standby
    shell:
       "ps -few | grep -i chm |grep -i sonusad | grep -v grep | awk '{print $2}'|xargs kill"
    delegate_to: "{{ res.results[1].stdout }}"


#  - name: checking sync status
#    shell: curl -kisu 'admin:admin' -X GET https://{{item.mgt0ipaddress}}/api/operational/system/syncStatus/ | grep status
#    register: b
#    loop: "{{ isbc_distributed_nodes }}"
#  - debug:
#      msg: "{{ item.stdout_lines }}"
#    loop: "{{ b.results }}"
#    loop_control:
#      label: "{{ item.stdout_lines }}"

