---
#  - name: remove  the invalid key 
#    shell: ssh-keygen -R "mgt0IPAddress_STANDBY"
#    register: b
#    failed_when: b.rc not in (0,255)
#  - name: remove  the invalid key
#    shell: ssh-keygen -R "mgt0IPAddress_ACTIVE"
#    register: b
#    failed_when: b.rc not in (0,255)

#  - name:
#    shell: scp -o  "stricthostkeychecking no" -i $HOME/cloud_ats.key -P 2024 $HOME/oamrollover.sh root@{{ mgt0IPAddress_STANDBY }}:/root
#  - name: Running oam rollover
#    shell: ssh -p 2024 -o  "stricthostkeychecking no" -i $HOME/cloud_ats.key root@{{ mgt0IPAddress_STANDBY }} "expect /root/oamrollover.sh"
  - name: Name
    command: "echo {{ item.name }}"
    register: res
    loop: "{{ isbc_distributed_nodes }}"
    loop_control:
       label: "{{ item.name }}"
  - debug:
      var: res
    no_log: True




  - name: Switchover by killing CHM process on Active Instance
    shell: "ps -few | grep -i chm |grep -i sonusad | grep -v grep | awk '{print $2}'|xargs kill"
   #    "ps -few | grep -i chm |grep -i sonusad | grep -v grep | awk '{print $2}'|xargs kill"
  #  loop: "{{ isbc_distributed_nodes }}"
   # when: item.role == 'ACTIVE'
#    delegate_to: "{{item[0]}}"
    delegate_to: "{{ res.results[0].stdout }}"


#  - name: Moving the files from localhost to active node
#    copy:
#      src: "{{ SyncStatus_Path }}"
#      dest: $HOME/sync_status.sh
#      mode: '0777'
#      force: yes
#
#  - name: Waiting for ISBC active and standby to make a cluster
#    shell: $HOME/sync_status.sh {{ result.results[1].stdout }}
#    register: b
#    failed_when: b.rc not in (0,126)
#  - debug: var=b.stdout_lines
#  - name: sleep for 30 seconds and continue with play
#    wait_for:
#       timeout: 30
#
#  - name: Sync status after active and standby spawned successfully
#    become: true
#    shell:
#      " /opt/sonus/sbx/scripts/swinfo.sh"
#    delegate_to: "{{ result.results[1].stdout }}"
#    register: a
#  - debug: var=a.stdout_lines

   # loop: "{{ groups['isbc']}}"
#    when: item == 'ISBC_DISTRIBUTED_ACTIVE'
#    when: item == '{{ hostvars[groups['isbc'][0]].inventory_hostname }}'
#    loop: "{{ hostvars[ groups['isbc'][0]].ansible_host}}"
#    loop_control:
#        label: "{{ item }}"
#    when: item.role == 'ACTIVE'

#  - name: 
#    wait_for: timeout=10
#  - name: waiting for service to come after switchover
#    shell: sh /home/ansible/process.sh {{ mgt0IPAddress_STANDBY }}
#    register: b
#    failed_when: b.rc not in (0,1)
#  - name:
#    wait_for: timeout=30
#  - name: checking Sync status
#    shell: ssh -o UserKnownHostsFile=/dev/null -o  "stricthostkeychecking no" -p 2024 -i $HOME/cloud_ats.key "root@{{ mgt0IPAddress_STANDBY }}" "sh /opt/sonus/sbx/scripts/swinfo.sh"
#    register: b
#  - debug: var=b.stdout_lines
#  - name: sleep for 30 seconds and continue with play
#    wait_for:
#       timeout: 30

#  - name: Sync status after active and standby spawned successfully
#    shell:
#      " /opt/sonus/sbx/scripts/swinfo.sh"
#    register: a
#  - debug: var=a.stdout_lines


 # - name: Switchback by Killing CHM process on current Active Instance installed role as Standby
 #   shell: 
 #      "ps -few | grep -i chm |grep -i sonusad | grep -v grep | awk '{print \$2}'|xargs kill"
 # - name:
 #   wait_for: timeout=10
 # - name: waiting for System to come  after switchback
 #   shell: sh /home/ansible/process.sh  {{ mgt0IPAddress_ACTIVE }}
 #   register: b
 #   failed_when: b.rc not in (0,1)
 # - name:
 #   wait_for: timeout=30
 # - name: checking Sync status after switchback 
 #   shell: ssh -o UserKnownHostsFile=/dev/null -o  "stricthostkeychecking no" -p 2024 -i $HOME/cloud_ats.key "root@{{ mgt0IPAddress_ACTIVE }}" "sh /opt/sonus/sbx/scripts/swinfo.sh"
 #   register: b
 # - debug: var=b.stdout_lines
#  - name: Final sync status
#    wait_for: timeout=10
#  - name: checking Sync status after switchback
#    shell: ssh -o UserKnownHostsFile=/dev/null -o  "stricthostkeychecking no" -p 2024 -i $HOME/cloud_ats.key "root@{{ mgt0IPAddress_ACTIVE }}" "sh /opt/sonus/sbx/scripts/swinfo.sh"
#    register: b
#  - debug: var=b.stdout_lines


 

 
